body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 80%;
    min-height: 300px;
    gap: 20px;
}

h1, p {
    margin: 0px;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #00000011;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.toggle {
    text-align: center;
    margin-top: 10px;
}
.toggle a {
    text-decoration: none;
    cursor: pointer;
    color: #007bff;
}

/* Style the table */
table {
    border: 1px solid #00000044; /* Add a bottom border to header cells */
    border-collapse: collapse; /* Collapse table borders */
    width: 100%; /* Make the table occupy 100% of its container */
    margin-bottom: 20px; /* Add some spacing at the bottom of the table */
    font-family: Arial, sans-serif; /* Specify a font */
    font-size: 14px; /* Set the font size */
    text-align: center;
}

/* Style table headers (th) */
th {
    background-color: #00000022; /* Set a background color */
    text-weight: bold;
    font-size: 16px;
    padding: 8px; /* Add padding for spacing within header cells */
    border: 1px solid #00000044; /* Add a bottom border to header cells */
}

/* Style table data cells (td) */
td {
    padding: 4px; /* Add padding for spacing within data cells */
    border-bottom: 1px solid #ddd; /* Add a bottom border to data cells */
    border: 1px solid #ddd; /* Add a bottom border to data cells */
}

/* Add alternating row colors for better readability */
tr {
    background-color: #00000011; /* Set an alternate background color for even rows */
}
