{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <h1>Welcome.. {% print(session.get('username')) %}</h1>
        <p>This is BACE<br>
            We are very thrilled to see you here.
        </p>
        <div id="img">
            <img width="280" alt="WelcomeToBace" src="/static/WelcomeToBace.jpg">
        </div>
        <form method="GET">
            <button formaction="/logout" type="submit">log out</button>
            <button formaction="/get_users" type="submit">See all Candidates</button>
            <button formaction="/fill_form" type="submit">Fill Form</button>
        </form>
    </div>

{% endblock %}
